.second {
    background-color: brown;
}


.some-color {
    background-color: blue;
}


.itemcolor0 {
    background-color: yellow;
}

.itemcolor1 {
    background-color: blueviolet;
}
.itemcolor2 {
    background-color: rgb(43, 226, 73);
}
.itemcolor3 {
    background-color: blueviolet;
}
.itemcolor4{
    background-color: rgb(13, 106, 73);
}
.itemcolor5 {
    background-color: rgb(20, 19, 22);
}



.li1 {
    background-color: red;
}




